.card-header {
    font-size: xx-large;
    background-color:lavender;
    text-align: center;
}
#cardBody {
    margin-left: 200px;
}
span {
    font-weight: bolder;
    font-size: xx-large;
}
#finalcontainer {
    height: 250px;
    border: 2px solid black;
    background-color: lavender;
    margin-top: 150px;
    margin-bottom: 135px;
}
#famous {
    margin-left: 145px;
}